{% extends 'base.html.twig' %}

{% block title %}
    Page d'index
{% endblock %}

{% block body %}
    <div class="container p-3 my-3 border">
    <h2>{{ message }}</h2>
    </div>
    
{% endblock %}