{% extends 'base.html.twig' %}
        
{% block clientIndex %}
    Page d'index
{% endblock %}

{% block body %}
    {% include "client/navbar.html.twig" %}
    <div class="container p-3 my-3 border">
        <center><h2>Mon Compte</h2></center>
    </div>
    <h5>Mon RIB : {{ rib }} </h5>
    
    <h5>Mail : {{ email }}</h5>
{% endblock %}