<nav class="navbar navbar-expand-sm  navbar-light" id="barrenav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('index_client') }}">HomePage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('liste_achats_abonnements') }}">Mes titres / Abonnements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Espaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Magasins</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Tests</a>
                </li>

            </ul>
        </nav>